<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Fabrizio Cara">
    <meta name="description" content="Fabrizio Cara Portfolio">
    <meta name="keywords" content="Fabrizio Cara, FCara, Fabrizio Cara Portfolio, FCara Portfolio">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fabrizio Cara Engineering</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/base_layout.css">
    <link rel="stylesheet" href="/static/css/publications.css">
<body>

<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="/index"> Fabrizio Cara <br> Engineering </a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav text-center">
            <li class="nav-item">
                <a class="nav-link" id="home_button" href="/index"> Home </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="project_button" href="/template/projects"> Projects </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="publication_button" href="/template/publications"> Publications </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="contact_button" href="/template/contact"> Contact </a>
            </li>
        </ul>
    </div>
</nav>


<div id="page_content">
        {% for project in site.data.publications %}
        <div id="publication_box">
            <div id="publication_text">
                <h3> {{ project.Title }} </h3>
                <p> {{ project.Intro }} </p>
                <p> {{ project.Description }} </p>
                <p> Link Paper: <a href="{{ project["Link Paper"] }}" target="_blank"> {{ project.Link Paper. }}  </a> </p>
            </div>
        </div>
    {% endfor %}
</div>


<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/publications.js"></script>

</body>
</html>