<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Fabrizio Cara">
    <meta name="description" content="Fabrizio Cara Portfolio">
    <meta name="keywords" content="Fabrizio Cara, FCara, Fabrizio Cara Portfolio, FCara Portfolio">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fabrizio Cara Engineering</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/base_layout.css">
    <link rel="stylesheet" href="/static/css/publications.css">
<body>

<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="/index"> Fabrizio Cara <br> Engineering </a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav text-center">
            <li class="nav-item">
                <a class="nav-link" id="home_button" href="/index"> Home </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="project_button" href="/template/projects"> Projects </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="publication_button" href="/template/publications"> Publications </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="contact_button" href="/template/contact"> Contact </a>
            </li>
        </ul>
    </div>
</nav>


<div id="page_content">
	<div id="publication_box">
		<div id="publication_text">
			<h3> On the Feasibility of Adversarial Sample Creation Using the Android System API </h3>
			<p> <b>Description</b>: Due to its popularity, the Android operating system is a critical target for malware attacks. 
			    Multiple security efforts have been made on the design of malware detection systems to identify 
			    potentially harmful applications. At the same time, attackers have been developing several 
			    techniques to evade such systems. Machine learning-based systems, leveraging both static and dynamic 
			    analysis, have been increasingly adopted to discriminate between legitimate and malicious samples 
			    due to their capability of identifying novel variants of malware samples. Previous work has shown 
			    the vulnerability of these detection systems to evasion attacks, including those designed for Android 
			    malware detection.</br>
			    In this work, we aim to understand the feasibility of generating an adversarial sample capable of evading
			    the detection, through the injection of system API calls. We perform our analysis on a state-of-the-art 
			    ransomware detector that employs the occurrence of system API calls as features of its machine learning 
			    algorithm. In particular, we discuss the constraints that are necessary to generate real samples, and 
			    we use techniques inherited from interpretability to assess the impact of specific API calls to evasion.
			</p>
			<p> <b>Contribution</b>: In this project, my contribution consisted of finding the right methodology to create the system, 
			    implement the system using Java (in collaboration) and writing the paper for a scientific journal (in collaboration). </p>
			<p> <b>Project Link</b>: <a href="https://github.com/mikescla/DexHacking" target="_blank"> Click here to access the project on Github </a> </p>
			<p> <b>Paper Link</b>: <a href="https://www.mdpi.com/2078-2489/11/9/433" target="_blank"> Click here to get access to the paper </a> </p>
			<p> <b>Date</b>: September 2020 </p>
		</div>
	</div>


	<div id="publication_box">
		<div id="publication_text">
			<h3> PowerDrive: Accurate De-obfuscation and Analysis of PowerShell Malware </h3>
			<p> <b>Description</b>: PowerShell is extensively used by malware vectors to execute payloads or drop additional malicious contents. 
			    PowerShell attacks are challenging to analyze due to the extensive use of multiple obfuscation layers, which make the real 
			    malicious code hard to be unveiled. To the best of our knowledge, a comprehensivesolution for properly de-obfuscating such 
			    attacks is currently missing. PowerDrive is an open-source, static and dynamic multi-stage de-obfuscator for PowerShell attacks. 
			    PowerDrive instruments the PowerShell code to progressively de-obfuscate it by showing the analyst the employed obfuscation steps. </p>
			<p> <b>Contribution</b>: In this project, my role was to provide the data used to create the tool PowerDrive. In order to do so, I
			    developed a dynamic analyzer to extract PowerShell code from thousands of infected office files. </p>
			<p> <b>Paper Link</b>: <a href="https://link.springer.com/chapter/10.1007/978-3-030-22038-9_12" target="_blank"> Click here to get access to the paper </a> </p>		
			<p> <b>Date</b>: June 2019 </p>
		</div>
	</div>
</div>


<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/publications.js"></script>

</body>
</html>
