#page_content {
    background-color: #DAE3E7;
    position: relative;
    width: auto;
}

#main_box {
    background: #fff;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
    border-radius: .25rem;
    float: left;
    width: 96%;
    height: auto;
    margin: 2% 2% 2% 2%;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

#text_part {
    height: auto;
}

#link_part{
    background-color: #1c7430;
    height: 100px;
}

.social-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -10px;
}

.navbar-brand, .nav-link {
    color: #778492;
}